<!DOCTYPE html>
<html>
<head>
  <title>510k, FDA 510(k), File510k.com - FileFDA LLC - Regulatory consulting</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="FileFDA LLC - world leading regulatory consultancy in FDA 510(k).">
<meta name="keywords" content="FDA,510k,510(k),medical device,510k database,mobile device, mobile apps,510K Submission,regulatory consulting,US,India,Europe China,certification,mark,trade,export,import,">
<meta http-equiv="Content-Language" content="en-us">
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
<link rev="made" href="mailto:file510k/at\gmail.com">
<meta name="author" content="Subrat - www.file510k.com">
<meta name="revisit-after" content="3 days">
<meta name="distribution" content="GLOBAL">
<meta name="ROBOTS" content="ALL">
<meta name="rating" content="General">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "shared/google_analytics" %>
</head>
<body>

<%= yield %>

</body>
</html>
